In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('../csv/data_raw.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         118 non-null    object
 1   Description  118 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [17]:
df.head(1)

       Name                                        Description
0  TeamSync  TeamSync aims to improve the quality and balan...

In [18]:
df = df.reset_index().rename(columns={'index': 'id'})

In [19]:
df.head(1)

   id      Name                                        Description
0   0  TeamSync  TeamSync aims to improve the quality and balan...

In [20]:
df.to_csv('../csv/projects.csv', index=False)

In [21]:
projects = pd.read_csv('../csv/projects.csv')

In [30]:
users = [
    (1, "ML Student", "CS student building NLP and recommender prototypes."),
    (2, "Product Manager", "PM focused on UX, personalization and analytics for web/mobile."),
    (3, "Game Developer", "Unity dev creating 2D/3D multiplayer games and mechanics."),
    (4, "Fitness Coach", "Trainer using apps and AI coaching to personalize plans."),
    (5, "Event Organizer / DevOps", "Runs local events and builds automation/bots for coordination."),
]

users = pd.DataFrame(users, columns=["id", "role", "short_profile"])
users.to_csv("../csv/users.csv", index=False)
users.head(1)

   id        role                                      short_profile
0   1  ML Student  CS student building NLP and recommender protot...

In [31]:
clicks = []

In [38]:
# for _, user in users.iterrows():
#     print(user['role'], '\n', user['short_profile'])
#     print()
#     for _, project in projects.iterrows():
#         print(f"Project ID: {project['id']}")
#         print(f"Title: {project['Name']}")
#         print(f"Description: {project['Description']}")
#         click = input("Do you want to click on this project? (yes/no): DEFAULT no:")
#         if click.lower() == 'yes':
#             clicks.append((user['id'], project['id']))
#         print()

# clicks = pd.DataFrame(clicks, columns=['user_id', 'project_id'])
# clicks.to_csv('../csv/clicks.csv', index=False)

# clicks.head(5)

In [40]:
clicks = pd.read_csv('../csv/clicks.csv')
clicks.head(5)

   user_id  project_id
0        1           3
1        1          10
2        1          16
3        1          17
4        1          23

In [43]:
df = clicks.merge(users, left_on='user_id', right_on='id', how='left').drop(columns=['user_id', 'id'])

In [44]:
df.head(5)

   project_id        role                                      short_profile
0           3  ML Student  CS student building NLP and recommender protot...
1          10  ML Student  CS student building NLP and recommender protot...
2          16  ML Student  CS student building NLP and recommender protot...
3          17  ML Student  CS student building NLP and recommender protot...
4          23  ML Student  CS student building NLP and recommender protot...

In [45]:
df = df.merge(projects, left_on='project_id', right_on='id', how='left').drop(columns=['project_id', 'id'])

In [50]:
df.head(5)

,role,short_profile,Name,Description
0,ML Student,CS student building NLP and recommender protot...,UrTraining,"A web-based platform for creating, distributin..."
1,ML Student,CS student building NLP and recommender protot...,Smartify,Educational platform combining career guidance...
2,ML Student,CS student building NLP and recommender protot...,SkillsNavigator,Website that builds personalized learning road...
3,ML Student,CS student building NLP and recommender protot...,KIZAK,AI learning assistant guiding IT learners with...
4,ML Student,CS student building NLP and recommender protot...,BookRecommendation,Distributed system generating personalized boo...